<section class="hero-layout" data-section-id="{{ section.id }}" data-section-type="hero-slider">
  <!-- Left Slider Column -->
  <div class="hero-layout-column hero-layout-column-left">
    <!--  Left side, slider 1 -->
    <div class="hero-grid-slider">
      <div class="slider">
        <div class="hero-grid-slide-track"> 
          {% assign left_slide_1_blocks = section.blocks | where: 'type', 'left_slide_1' %}
          {% for block in left_slide_1_blocks %}
            <a href="{% if block.settings.custom_url and block.settings.custom_url != '' %}
              {{ block.settings.custom_url }}
            {% else %}
              {{ all_products[block.settings.product].url }}
            {% endif %}" aria-label="{{ block.settings.label | default: all_products[block.settings.product].title }}"> 
              <div class="hero-grid-slide">
                <div class="hero-grid-product-card">
                  {% if block.settings.label != blank %}
                  <div class="hero-grid-product-card-label">{{ block.settings.label }}</div>
                  {% endif %}
                  <div class="hero-grid-product-card-image">
                    {% if block.settings.custom_image %}
                    <img class="lazyload image--fade-in" src="{{ block.settings.custom_image | img_url: '500x' }}" alt="{{ block.settings.label | default: 'Product Image' }}">
                    {% else %}
                    {% if block.settings.product %}
                    <img class="lazyload image--fade-in" src="{{ all_products[block.settings.product].featured_image | img_url: '500x' }}" alt="{{ all_products[block.settings.product].title | escape }}">
                    {% endif %}
                    {% endif %}
                  </div>
                  <div class="hero-grid-product-card-info">
                    {% if block.settings.product %}
                    <div class="hero-grid-product-card-title">
                      {{ all_products[block.settings.product].title }}
                    </div>
                    {% endif %}
                  </div> 
                </div>
              </div>
            </a>
          {% endfor %}
          {% for block in left_slide_1_blocks %}
            <a href="{% if block.settings.custom_url and block.settings.custom_url != '' %}
              {{ block.settings.custom_url }}
            {% else %}
              {{ all_products[block.settings.product].url }}
            {% endif %}" aria-label="{{ block.settings.label | default: all_products[block.settings.product].title }}"> 
              <div class="hero-grid-slide">
                <div class="hero-grid-product-card">
                  {% if block.settings.label != blank %}
                  <div class="hero-grid-product-card-label">{{ block.settings.label }}</div>
                  {% endif %}
                  <div class="hero-grid-product-card-image">
                    {% if block.settings.custom_image %}
                    <img class="lazyload image--fade-in" src="{{ block.settings.custom_image | img_url: '500x' }}" alt="{{ block.settings.label | default: 'Product Image' }}">
                    {% else %}
                    {% if block.settings.product %}
                    <img class="lazyload image--fade-in" src="{{ all_products[block.settings.product].featured_image | img_url: '500x' }}" alt="{{ all_products[block.settings.product].title | escape }}">
                    {% endif %}
                    {% endif %}
                  </div>
                  <div class="hero-grid-product-card-info">
                    {% if block.settings.product %}
                    <div class="hero-grid-product-card-title">
                      {{ all_products[block.settings.product].title }}
                    </div>
                    {% endif %}
                  </div> 
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <!--  Left side, slider 2 -->
    <div class="hero-grid-slider">
      <div class="slider">
        <div class="hero-grid-slide-track">
          {% assign left_slide_2_blocks = section.blocks | where: 'type', 'left_slide_2' %}
          {% for block in left_slide_2_blocks %}
            <a href="{% if block.settings.custom_url and block.settings.custom_url != '' %}
                {{ block.settings.custom_url }}
              {% else %}
                {{ all_products[block.settings.product].url }}
              {% endif %}" aria-label="{{ block.settings.label | default: all_products[block.settings.product].title }}">         
              <div class="hero-grid-slide">
                <div class="hero-grid-product-card">
                  {% if block.settings.label != blank %}
                  <div class="hero-grid-product-card-label">{{ block.settings.label }}</div>
                  {% endif %}
                  <div class="hero-grid-product-card-image">
                    {% if block.settings.custom_image %}
                    <img class="lazyload image--fade-in" src="{{ block.settings.custom_image | img_url: '500x' }}" alt="{{ block.settings.label | default: 'Product Image' }}">
                    {% else %}
                    {% if block.settings.product %}
                    <img class="lazyload image--fade-in" src="{{ all_products[block.settings.product].featured_image | img_url: '500x' }}" alt="{{ all_products[block.settings.product].title | escape }}">
                    {% endif %}
                    {% endif %}
                  </div>
                  <div class="hero-grid-product-card-info">
                    {% if block.settings.product %}
                    <div class="hero-grid-product-card-title">
                      {% if block.settings.custom_title and block.settings.custom_title != "" %}
                        {{ block.settings.custom_title }}
                      {% else %}
                        {{ all_products[block.settings.product].title }}
                      {% endif %}
                    </div>
                    {% endif %}
                  </div> 
                </div>
              </div>
            </a>
          {% endfor %}
          {% for block in left_slide_2_blocks %}
            <a href="{% if block.settings.custom_url and block.settings.custom_url != '' %}
                {{ block.settings.custom_url }}
              {% else %}
                {{ all_products[block.settings.product].url }}
              {% endif %}" aria-label="{{ block.settings.label | default: all_products[block.settings.product].title }}">         
              <div class="hero-grid-slide">
                <div class="hero-grid-product-card">
                  {% if block.settings.label != blank %}
                  <div class="hero-grid-product-card-label">{{ block.settings.label }}</div>
                  {% endif %}
                  <div class="hero-grid-product-card-image">
                    {% if block.settings.custom_image %}
                    <img class="lazyload image--fade-in" src="{{ block.settings.custom_image | img_url: '500x' }}" alt="{{ block.settings.label | default: 'Product Image' }}">
                    {% else %}
                    {% if block.settings.product %}
                    <img class="lazyload image--fade-in" src="{{ all_products[block.settings.product].featured_image | img_url: '500x' }}" alt="{{ all_products[block.settings.product].title | escape }}">
                    {% endif %}
                    {% endif %}
                  </div>
                  <div class="hero-grid-product-card-info">
                    {% if block.settings.product %}
                    <div class="hero-grid-product-card-title">
                      {% if block.settings.custom_title and block.settings.custom_title != "" %}
                        {{ block.settings.custom_title }}
                      {% else %}
                        {{ all_products[block.settings.product].title }}
                      {% endif %}
                    </div>
                    {% endif %}
                  </div> 
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
    
  <!-- Center Content -->
  <div class="hero-layout-content">
    <div class="hero-grid-notice">
      {% if section.settings.notice_image %}
        <img src="{{ section.settings.notice_image | file_url }}" alt="Notice Image">
        {% else %}
        <img src="https://cdn.shopify.com/s/files/1/0640/4004/2755/files/made-by-hero.png?v=1735858786" alt="Default Notice Image">
      {% endif %}
    </div>
    
    <div class="hero-grid-header">
      <h1 class="hero-grid-title">
        {{ section.settings.hero_title }}
      </h1>
      <p class="hero-grid-subtitle">
        {{ section.settings.hero_subtitle }}
      </p>
      <div class="hero-grid-buttons">
        <a href="{{ section.settings.hero_primary_button_link }}" class="hero-grid-btn hero-grid-btn-primary">
          {{ section.settings.hero_primary_button_text }}
        </a>
        <a href="{{ section.settings.hero_secondary_button_link }}" class="hero-grid-btn hero-grid-btn-secondary">
          <span class="hero-grid-icon">
            {% if section.settings.hero_secondary_button_icon %}
            <img src="{{ section.settings.hero_secondary_button_icon | file_url }}" alt="Button Icon">
            {% else %}
            <img src="assets/label-new-icon.svg" alt="New Icon">
            {% endif %}
          </span>
          {{ section.settings.hero_secondary_button_text }}
        </a>
      </div>
    </div>

    <div class="hero-grid-footer">
      <p>{{ section.settings.hero_footer_text_1 }}</p>
      <p>{{ section.settings.hero_footer_text_2 }}</p>
      <p>{{ section.settings.hero_footer_text_3 }}</p>
    </div>
  </div>

  <!-- Right Slider Column -->
  <div class="hero-layout-column hero-layout-column-right">
    <!-- Right side, slider 1 -->
    <div class="hero-grid-slider">
      <div class="hero-grid-slide-track">
        {% assign right_slide_1_blocks = section.blocks | where: 'type', 'right_slide_1' %}
        {% for block in right_slide_1_blocks %}
          <a href="{% if block.settings.custom_url and block.settings.custom_url != '' %}
            {{ block.settings.custom_url }}
          {% else %}
            {{ all_products[block.settings.product].url }}
          {% endif %}" aria-label="{{ block.settings.label | default: all_products[block.settings.product].title }}">
            <div class="hero-grid-slide">
              <div class="hero-grid-product-card">
                {% if block.settings.label != blank %}
                <div class="hero-grid-product-card-label">{{ block.settings.label }}</div>
                {% endif %}
                <div class="hero-grid-product-card-image">
                  {% if block.settings.custom_image %}
                  <img class="lazyload image--fade-in" data-src="{{ block.settings.custom_image | file_url }}" data-widths="[500, 800, 1200]" data-sizes="auto" alt="{{ block.settings.label | default: 'Custom Image' }}">
                  {% else %}
                  {% if block.settings.product %}
                  <img class="lazyload image--fade-in" data-src="{{ all_products[block.settings.product].featured_image | img_url: '500x' }}" data-widths="[500, 800, 1200]" data-sizes="auto" alt="{{ all_products[block.settings.product].title | escape }}">
                  {% endif %}
                  {% endif %}
                </div>
                <div class="hero-grid-product-card-info">
                  {% if block.settings.product %}
                  <div class="hero-grid-product-card-title">
                    {{ all_products[block.settings.product].title }}
                  </div>
                  {% endif %}
                  <div class="hero-grid-product-card-colors">
                    {% assign color_array = block.settings.colors | split: ',' %}
                    {% for color in color_array %}
                    <span class="hero-grid-color-circle" style="background-color: {{ color }}"></span>
                    {% endfor %}
                  </div>
                </div> 
              </div>
            </div>
          </a>
        {% endfor %}
        {% for block in right_slide_1_blocks %}
          <a href="{% if block.settings.custom_url and block.settings.custom_url != '' %}
            {{ block.settings.custom_url }}
          {% else %}
            {{ all_products[block.settings.product].url }}
          {% endif %}" aria-label="{{ block.settings.label | default: all_products[block.settings.product].title }}">
            <div class="hero-grid-slide">
              <div class="hero-grid-product-card">
                {% if block.settings.label != blank %}
                <div class="hero-grid-product-card-label">{{ block.settings.label }}</div>
                {% endif %}
                <div class="hero-grid-product-card-image">
                  {% if block.settings.custom_image %}
                  <img class="lazyload image--fade-in" data-src="{{ block.settings.custom_image | file_url }}" data-widths="[500, 800, 1200]" data-sizes="auto" alt="{{ block.settings.label | default: 'Custom Image' }}">
                  {% else %}
                  {% if block.settings.product %}
                  <img class="lazyload image--fade-in" data-src="{{ all_products[block.settings.product].featured_image | img_url: '500x' }}" data-widths="[500, 800, 1200]" data-sizes="auto" alt="{{ all_products[block.settings.product].title | escape }}">
                  {% endif %}
                  {% endif %}
                </div>
                <div class="hero-grid-product-card-info">
                  {% if block.settings.product %}
                  <div class="hero-grid-product-card-title">
                    {{ all_products[block.settings.product].title }}
                  </div>
                  {% endif %}
                  <div class="hero-grid-product-card-colors">
                    {% assign color_array = block.settings.colors | split: ',' %}
                    {% for color in color_array %}
                    <span class="hero-grid-color-circle" style="background-color: {{ color }}"></span>
                    {% endfor %}
                  </div>
                </div> 
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
    <!-- Right side, slider 2 -->
    <div class="hero-grid-slider">
      <div class="hero-grid-slide-track">
        {% assign left_slide_1_blocks = section.blocks | where: 'type', 'left_slide_1' %}
        {% for block in left_slide_1_blocks %}
          <a href="{% if block.settings.custom_url and block.settings.custom_url != '' %}
            {{ block.settings.custom_url }}
          {% else %}
            {{ all_products[block.settings.product].url }}
          {% endif %}" aria-label="{{ block.settings.label | default: all_products[block.settings.product].title }}">
            <div class="hero-grid-slide">
              <div class="hero-grid-product-card">
                {% if block.settings.label != blank %}
                <div class="hero-grid-product-card-label">{{ block.settings.label }}</div>
                {% endif %}
                <div class="hero-grid-product-card-image">
                  {% if block.settings.custom_image %}
                  <img class="lazyload image--fade-in" data-src="{{ block.settings.custom_image | file_url }}" data-widths="[500, 800, 1200]" data-sizes="auto" alt="{{ block.settings.label | default: 'Custom Image' }}">
                  {% else %}
                  {% if block.settings.product %}
                  <img class="lazyload image--fade-in" data-src="{{ all_products[block.settings.product].featured_image | img_url: '500x' }}" data-widths="[500, 800, 1200]" data-sizes="auto" alt="{{ all_products[block.settings.product].title | escape }}">
                  {% endif %}
                  {% endif %}
                </div>
                <div class="hero-grid-product-card-info">
                  {% if block.settings.product %}
                  <div class="hero-grid-product-card-title">
                    {{ all_products[block.settings.product].title }}
                  </div>
                  {% endif %}
                </div> 
              </div>
            </div>
          </a>
        {% endfor %}
        {% for block in left_slide_1_blocks %}
          <a href="{% if block.settings.custom_url and block.settings.custom_url != '' %}
            {{ block.settings.custom_url }}
          {% else %}
            {{ all_products[block.settings.product].url }}
          {% endif %}" aria-label="{{ block.settings.label | default: all_products[block.settings.product].title }}">
            <div class="hero-grid-slide">
              <div class="hero-grid-product-card">
                {% if block.settings.label != blank %}
                <div class="hero-grid-product-card-label">{{ block.settings.label }}</div>
                {% endif %}
                <div class="hero-grid-product-card-image">
                  {% if block.settings.custom_image %}
                  <img class="lazyload image--fade-in" data-src="{{ block.settings.custom_image | file_url }}" data-widths="[500, 800, 1200]" data-sizes="auto" alt="{{ block.settings.label | default: 'Custom Image' }}">
                  {% else %}
                  {% if block.settings.product %}
                  <img class="lazyload image--fade-in" data-src="{{ all_products[block.settings.product].featured_image | img_url: '500x' }}" data-widths="[500, 800, 1200]" data-sizes="auto" alt="{{ all_products[block.settings.product].title | escape }}">
                  {% endif %}
                  {% endif %}
                </div>
                <div class="hero-grid-product-card-info">
                  {% if block.settings.product %}
                  <div class="hero-grid-product-card-title">
                    {{ all_products[block.settings.product].title }}
                  </div>
                  {% endif %}
                </div> 
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Hero Slider",
  "settings": [
    {
      "type": "paragraph",
      "content": "14 slides per hero layout, 7/7, Automatically duplicated slides, add only 7 slides per side"
    },
    {
      "type": "text",
      "id": "hero_title",
      "label": "Hero Title",
      "default": "Authentische Spezialitäten vom Balkan - Direkt an Ihre Haustür geliefert"
    },
    {
      "type": "textarea",
      "id": "hero_subtitle",
      "label": "Hero Subtitle",
      "default": "Von Wein und Rakija bis zu Käse und Ajvar – Ihr Onlineshop im Herzen Hamburgs"
    },
    {
      "type": "text",
      "id": "hero_primary_button_text",
      "label": "Primary Button Text",
      "default": "Entdecken Sie alle Kategorien"
    },
    {
      "type": "url",
      "id": "hero_primary_button_link",
      "label": "Primary Button Link",
      "default": "/collections"
    },
    {
      "type": "text",
      "id": "hero_secondary_button_text",
      "label": "Secondary Button Text",
      "default": "Neue Produkte ansehen"
    },
    {
      "type": "url",
      "id": "hero_secondary_button_link",
      "label": "Secondary Button Link"
    },
    {
      "type": "text",
      "id": "hero_footer_text_1",
      "label": "Footer Text 1",
      "default": "Kostenlose Lieferung ab €150"
    },
    {
      "type": "text",
      "id": "hero_footer_text_2",
      "label": "Footer Text 2",
      "default": "Versand in ganz Deutschland und der EU"
    },
    {
      "type": "text",
      "id": "hero_footer_text_3",
      "label": "Footer Text 3",
      "default": "Hoch bewertet"
    }
  ],
  "blocks": [
    {
      "type": "left_slide_1",
      "name": "Left Slide 1",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select product"
        },
        {
          "type": "text",
          "id": "label",
          "label": "Product Label (optional)",
        },
        {
          "type": "image_picker",
          "id": "custom_image",
          "label": "Custom Image (optional)"
        },
        {
          "type": "text",
          "id": "custom_title",
          "label": "Custom Title (optional)"
        },
        {
          "type": "url",
          "id": "custom_url",
          "label": "Custom URL (optional)"
        }
      ]
    },
    {
      "type": "left_slide_2",
      "name": "Left Slide 2",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select product"
        },
        {
          "type": "text",
          "id": "label",
          "label": "Product Label (optional)",
        },
        {
          "type": "image_picker",
          "id": "custom_image",
          "label": "Custom Image (optional)"
        },
        {
          "type": "text",
          "id": "custom_title",
          "label": "Custom Title (optional)"
        },
        {
          "type": "url",
          "id": "custom_url",
          "label": "Custom URL (optional)"
        }
      ]
    },
    {
      "type": "right_slide_1",
      "name": "Right Slide 1",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select product"
        },
        {
          "type": "text",
          "id": "label",
          "label": "Product Label (optional)",
        },
        {
          "type": "image_picker",
          "id": "custom_image",
          "label": "Custom Image (optional)"
        },
        {
          "type": "text",
          "id": "custom_title",
          "label": "Custom Title (optional)"
        },
        {
          "type": "url",
          "id": "custom_url",
          "label": "Custom URL (optional)"
        }
      ]
    },
    {
      "type": "right_slide_2",
      "name": "Right Slide 2",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select product"
        },
        {
          "type": "text",
          "id": "label",
          "label": "Product Label (optional)",
        },
        {
          "type": "image_picker",
          "id": "custom_image",
          "label": "Custom Image (optional)"
        },
        {
          "type": "text",
          "id": "custom_title",
          "label": "Custom Title (optional)"
        },
        {
          "type": "url",
          "id": "custom_url",
          "label": "Custom URL (optional)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Slider",
    }
  ]
}
{% endschema %}